* {
    text-align: center;
}

p, table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
    height: 20px;
    width: 70%;
    background-color: green;
}

img{
    width: 400px;
    height: 300px;
}

#sourceOfInfo{
    font-style: italic;
    font-size: 60%;
}

.funny{
    color: #00FF00;
    text-shadow: rgba(0,255,0,0.6);
    font-family: "Brush Script MT", cursive;
    font-size: 200%;
}

table{
    margin: auto;
    width: 70%;
    border-collapse: collapse;
}
