* {
    text-align: center;
}

p, ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    height: 20px;
    width: 70%;
    background-color: green;
}

img{
    width: 400px;
    height: 300px;
}

ol{
    list-style-position: inside;
}