*{
    margin: 0;
    padding: 0;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: initial;
}

body{
    background-color: rgb(255, 180, 114);
    display: grid;
}

nav{
    background-color: peachpuff;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

