* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    background-color: black;
    overflow-y: hidden;
}

#nav-bar {
    display: inline-grid;
    background-color: #28282B;
    border-radius: 0 15px 15px 0;
}

.logo {
    display: flex;
    width: 100%;
}

.image-link {
    width: 100%;
}

#image-logo {
    width: 100%;
    transform: scale(0.9);
    border-radius: 15px 15px 15px 15px;
}

#image-logo:hover {
    transform: scale(1);
    transition: all 250ms;
}

#nav-list {
    display: grid;
}

.nav-list-item {
    display: grid;
    margin: 0;
    padding: 0;
    height: fit-content;
}

.nav-item,
.nav-item-dropdown,
.dropdown-content,
.copyright-text {
    font-family: 'Roboto Slab', serif;
    font-size: xx-large;
    text-decoration: none;
    color: gray;
}

.nav-item,
.nav-item-dropdown {
    margin-left: 5%;
}

.nav-item {
    height: fit-content;
    width: fit-content;
}

.nav-item-dropdown {
    list-style-type: none;
    cursor: pointer;
    width: fit-content;
}

.dropdown-menu {
    display: grid;
}

.dropdown-content {
    margin-left: 20%;
    animation: open 500ms ease-in-out;
    width: fit-content;
}

.nav-item:hover,
.nav-item-dropdown:hover,
.dropdown-content:hover,
.links:hover {
    color: white;
    transition: all 250ms ease;
}

.big-wrapper {
    display: flex;
    overflow-y: auto;
}

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    gap: 2%;
}

.image {
    height: 50vh;
    box-shadow: 0px 0px 10px 0px gray;
    margin-top: 2%;
}

.image:hover {
    transform: scale(1.05);
    transition: all 250ms ease;
}

footer {
    align-self: flex-end;
}

.copyright-text {
    font-size: small;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.links {
    color: inherit;
    text-decoration: none;
}

.links:hover {
    color: white;
}

@keyframes open {
    0% {
        opacity: 0;
        margin-left: 15%;
    }

    100% {
        opacity: 1;
        margin-left: 20%;
    }
}