*{
    margin: 0;
    padding: 0;
    color: initial;
    text-decoration: none;
}

body{
    display: grid;
}

#navbar{
    height: 3em;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.5em;
    padding-right: 1.5em;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    background-color: pink;

    a:hover{
        color: bisque;
        transition: 0.15s;
    }

    .special{
        word-spacing: -0.2em;
    }

}